.logo{
    position: relative; 
    bottom: 10px;
}
.clientes{
    position: relative;
    left: 100px;
}
.qtdPedido{
    width: 100px;
}
th{
    text-align: center;
}
#carousel{
    background-color: #d2322d;
}
div.col-center {
    text-align: center;
}